
<section class="footer">
    <div class="container center">
        <div class="row">
            <div class="col-xs-12 center">
                <ul class="rede-sociais">
                    <li class="fac"><i class="fa fa-facebook" aria-hidden="true"></i></li>
                    <li class="you"><i class="fa fa-youtube" aria-hidden="true"></i></li>
                    <li class="twi"><i class="fa fa-twitter" aria-hidden="true"></i></li>
                    <li class="ins"><i class="fa fa-instagram" aria-hidden="true"></i></li>
                </ul>
            </div>
            <div class="col-xs-12"> © 2017   Todos os direitos reservados SmartService</div>
        </div>
    </div>
</section>