<div id="bg-menu" class="menu-bar">
  <nav id="wrap" class="container nav-bar">
    <img class="logo" src="../template/img/logo.png" alt="Logo">
    <ul>
      <li>
        <a routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a routerLink="/sobrenos" routerLinkActive="active">Sobre Nós</a>
      </li>
      <li>
        <a routerLink="/empresas" routerLinkActive="active">Empresas</a>
      </li>
      <li>
        <a routerLink="/servicos" routerLinkActive="active">Serviços</a>
      </li>
      <li>
        <a routerLink="/fa" routerLinkActive="active">F&A</a>
      </li>
      <users></users>
    </ul>
  </nav>
</div>


<router-outlet></router-outlet>
<footer-component></footer-component>
