<header-component></header-component>
<section>
    <div class="container">
        <div class="row" style="padding-top: 15px;padding-bottom: 15px;">
            <div class="col-sm-3">
                <figure class="snip1174 navy">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample33.jpg" alt="sq-sample33" />
                <figcaption>
                    <h2>SmartServices</h2>
                    <p>
                    Empresa de serviços.
                    </p>
                    <a target="_ablank" href="/main/page/production">Ver +</a>
                </figcaption>
                </figure>
            </div>
            <div class="col-sm-3">
                <figure class="snip1174 green">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample33.jpg" alt="sq-sample33" />
                <figcaption>
                    <h2>Ակցիաներ</h2>
                    <p>
                    Թարմացվող ակցիաներ մեր հաճախորդների համար
                    </p>
                    <a href="/main/page/auction">Ավելին</a>
                </figcaption>
                </figure>
            </div>
            <div class="col-sm-3">
                <figure class="snip1174 navy">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample33.jpg" alt="sq-sample33" />
                <figcaption>
                    <h2>Մեր մասին</h2>
                    <p>
                    Մեր ընկերության մաին ծանոթացեք այստեղ
                    </p>
                    <a href="/main/page/company">Ավելին</a>
                </figcaption>
                </figure>
            </div>
            <div class="col-sm-3">
                <figure class="snip1174 green">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample33.jpg" alt="sq-sample33" />
                <figcaption>
                    <h2>Բաղադրատոմսեր</h2>
                    <p>
                    Պատրաստման հարցում Դուք ունեք Ձեր խորհրդատուն
                    </p>
                    <a href="/main/page/recipe">Ավելին</a>
                </figcaption>
                </figure>
            </div>
            <div class="col-sm-3">
                <figure class="snip1174 navy">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample33.jpg" alt="sq-sample33" />
                <figcaption>
                    <h2>Խանութների ցանկ</h2>
                    <p>
                    Մեր խանութների ցանկին այստեղ
                    </p>
                    <a href="/main/page/map">Ավելին</a>
                </figcaption>
                </figure>
            </div>
            <div class="col-sm-3">
                <figure class="snip1174 green">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample33.jpg" alt="sq-sample33" />
                <figcaption>
                    <h2>Նորություններ</h2>
                    <p>
                    Ծանոթացեք մեր նորություններին այստեղ
                    </p>
                    <a href="/main/page/news">Ավելին</a>
                </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>