<header-component></header-component>
<section>
    <div class="container">
        <div class="row" style="padding-top: 15px;padding-bottom: 15px;">

            <div class="col-xs-4">
                <h2 style="color: #75c2af;">Categoria:</h2>
                <select class="form-control">

                    <option>Pesquisar</option>
                    <option>Técnicos</option>
                    <option>Domésticos</option>
                    <option>Reparações e Mudanças</option>
                    <option>Eventos</option>
                    <option>Saúde e Beleza</option>
                </select>
            </div>
            <div class="col-xs-4">
                <h2 style="color: #75c2af;">Sub Categoria:</h2>
                <select class="form-control">

                    <option>Pesquisar</option>
                    <option>Serviços de Advocacia</option>
                    <option>Serviços Financeiros</option>
                    <option>Serviços Informáticos</option>
                    <option>Agências Publicitária e Marketing</option>
                    <option>Acompanhantes de Idosos</option>
                    <option>Infantários</option>
                    <option>Limpezas</option>
                    <option>Apoio a Animais de Estimação</option>
                    <option>Transportes de Mudanças</option>
                    <option>Serviços Auto</option>
                    <option>Eletricistas</option>
                    <option>Canalizadores</option>
                    <option>Obras e Manutenção</option>
                    <option>Reparações de Eletrodomésticos</option>
                    <option>Espaços para Eventos</option>
                    <option>Animações de Festas</option>
                    <option>Catering e Culinária</option>
                    <option>Fotógrafos</option>
                    <option>Estética</option>
                    <option>Saúde e Enfermagem</option>
                    <option>Terapias e Massagens</option>
                    <option>Dentistas</option>
                    <option>Nutrição</option>
                    <option>Cabeleireiros</option>
                    <option>Ginásios</option>
                </select>
            </div>
        </div>
        <div class="row" style="padding-top: 15px;padding-bottom: 15px;">
        <!--começa aqui-->
            <div class="col-sm-3">
                <figure class="snip1174 navy">
                    <img src="../template/img/Young Network Group .jpg" alt="sq-sample33" />
                    <figcaption>
                        <h2>Young Network Group</h2>
                        <p>
                            Grupo de comunicação global.
                        </p>
                        <li style="list-style: none;">
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star-empty"></span>
                         <span class="glyphicon glyphicon-star-empty"></span>
                         <span class="glyphicon glyphicon-star-empty"></span>
                     </li>
                     <a target="_ablank" href="/main/page/production">Ver +</a>
                 </figcaption>
             </figure>
         </div>
         <!--Acaba aqui-->
         <div class="col-sm-3">
            <figure class="snip1174 green">
                <img src="../template/img/Innovdigital.jpg" alt="sq-sample33" />
                <figcaption>
                    <h2>Innovdigital</h2>
                    <p>
                        Agência de Marketing Digital
                    </p>
                    <li style="list-style: none;">
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star-empty"></span>
                     </li>
                    <a href="/main/page/auction">Ver +</a>
                </figcaption>
            </figure>
        </div>
        <div class="col-sm-3">
            <figure class="snip1174 navy">
                <img src="../template/img/CorrentesCriativas.jpg" alt="sq-sample33" />
                <figcaption>
                    <h2>Correntes Criativas</h2>
                    <p>
                        Agência de Design e Publicidade
                    </p>
                    <li style="list-style: none;">
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star-empty"></span>
                     </li>
                    <a href="/main/page/company">Ver +</a>
                </figcaption>
            </figure>
        </div>
        <div class="col-sm-3">
            <figure class="snip1174 green">
                <img src="../template/img/centrovet.jpg" alt="sq-sample33" />
                <figcaption>
                    <h2>Centro Veterinário de Nogueira </h2>
                    <p>
                        
                    </p>
                    <li style="list-style: none;">
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star-empty"></span>
                         <span class="glyphicon glyphicon-star-empty"></span>
                     </li>
                    <a href="/main/page/recipe">Ver +</a>
                </figcaption>
            </figure>
        </div>
        <div class="col-sm-3">
            <figure class="snip1174 navy">
                <img src="../template/img/amipet.jpg" alt="sq-sample33" />
                <figcaption>
                    <h2>Amipet</h2>
                    <p>
                        Hotel de Animais
                    </p>
                    <li style="list-style: none;">
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star-empty"></span>
                     </li>
                    <a href="/main/page/map">Ver +</a>
                </figcaption>
            </figure>
        </div>
        <div class="col-sm-3">
            <figure class="snip1174 green">
                <img src="../template/img/petfun.jpg" alt="sq-sample33" />
                <figcaption>
                    <h2>Pet Fun Training e Resort </h2>
                    <p>
                        
                    </p>
                    <li style="list-style: none;">
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star-empty"></span>
                         <span class="glyphicon glyphicon-star-empty"></span>
                     </li>
                    <a href="/main/page/news">Ver +</a>
                </figcaption>
            </figure>
        </div>
            <div class="col-sm-3">
                <figure class="snip1174 navy">
                    <img src="../template/img/valverde.jpg" alt="sq-sample33" />
                    <figcaption>
                        <h2>Valverdes Hotel para Animais </h2>
                        <p>
                            
                        </p>
                        <li style="list-style: none;">
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star-empty"></span>
                         <span class="glyphicon glyphicon-star-empty"></span>
                     </li>
                     <a target="_ablank" href="/main/page/production">Ver +</a>
                 </figcaption>
             </figure>
         </div>
          <div class="col-sm-3">
            <figure class="snip1174 green">
                <img src="../template/img/mudecerto.jpg" alt="sq-sample33" />
                <figcaption>
                    <h2>Mude Certo</h2>
                    <p>
                        Empresa de Mudanças
                    </p>
                    <li style="list-style: none;">
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star-empty"></span>
                     </li>
                    <a href="/main/page/auction">Ver +</a>
                </figcaption>
            </figure>
        </div>
        <div class="col-sm-3">
                <figure class="snip1174 navy">
                    <img src="../template/img/transr.jpg" alt="sq-sample33" />
                    <figcaption>
                        <h2>Trans-R</h2>
                        <p>
                            Empresa de Transporte e Mudanças
                        </p>
                        <li style="list-style: none;">
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star-empty"></span>
                         <span class="glyphicon glyphicon-star-empty"></span>
                     </li>
                     <a target="_ablank" href="/main/page/production">Ver +</a>
                 </figcaption>
             </figure>
         </div>
         <div class="col-sm-3">
            <figure class="snip1174 green">
                <img src="../template/img/norauto.jpg" alt="sq-sample33" />
                <figcaption>
                    <h2>Norauto</h2>
                    <p>
                        Serviço Auto
                    </p>
                    <li style="list-style: none;">
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                     </li>
                    <a href="/main/page/auction">Ver +</a>
                </figcaption>
            </figure>
        </div>
            <div class="col-sm-3">
                <figure class="snip1174 navy">
                    <img src="../template/img/topcar.jpg" alt="sq-sample33" />
                    <figcaption>
                        <h2>TopCar</h2>
                        <p>
                            Rede de Oficinas Multimarca
                        </p>
                        <li style="list-style: none;">
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star-empty"></span>
                         <span class="glyphicon glyphicon-star-empty"></span>
                         <span class="glyphicon glyphicon-star-empty"></span>
                     </li>
                     <a target="_ablank" href="/main/page/production">Ver +</a>
                 </figcaption>
             </figure>
         </div>
            <div class="col-sm-3">
            <figure class="snip1174 green">
                <img src="../template/img/planetparty.jpg" alt="sq-sample33" />
                <figcaption>
                    <h2>Planet Party</h2>
                    <p>
                        Loja de Festas
                    </p>
                    <li style="list-style: none;">
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                     </li>
                    <a href="/main/page/auction">Ver +</a>
                </figcaption>
            </figure>
        </div>
            <div class="col-sm-3">
                <figure class="snip1174 navy">
                    <img src="../template/img/aquarelamagica.jpg" alt="sq-sample33" />
                    <figcaption>
                        <h2>Aquarela Mágica</h2>
                        <p>
                            Empresa de Entretenimento
                        </p>
                        <li style="list-style: none;">
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star-empty"></span>
                         <span class="glyphicon glyphicon-star-empty"></span>
                         <span class="glyphicon glyphicon-star-empty"></span>
                     </li>
                     <a target="_ablank" href="/main/page/production">Ver +</a>
                 </figcaption>
             </figure>
         </div>
                <div class="col-sm-3">
            <figure class="snip1174 green">
                <img src="../template/img/fotvitor.jpg" alt="sq-sample33" />
                <figcaption>
                    <h2>Fotografia Vitor</h2>
                    <p>
                        
                    </p>
                    <li style="list-style: none;">
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star-empty"></span>
                         <span class="glyphicon glyphicon-star-empty"></span>
                         <span class="glyphicon glyphicon-star-empty"></span>
                     </li>
                    <a href="/main/page/auction">Ver +</a>
                </figcaption>
            </figure>
        </div>
            <div class="col-sm-3">
                <figure class="snip1174 navy">
                    <img src="../template/img/clinicadasaude.jpg" alt="sq-sample33" />
                    <figcaption>
                        <h2>Clínica da Saúde</h2>
                        <p>
                            
                        </p>
                        <li style="list-style: none;">
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star-empty"></span>
                         <span class="glyphicon glyphicon-star-empty"></span>
                         <span class="glyphicon glyphicon-star-empty"></span>
                     </li>
                     <a target="_ablank" href="/main/page/production">Ver +</a>
                 </figcaption>
             </figure>
         </div>
                         <div class="col-sm-3">
            <figure class="snip1174 green">
                <img src="../template/img/cdbp.jpg" alt="sq-sample33" />
                <figcaption>
                    <h2>Clínica Dentária Braga Parque</h2>
                    <p>
                        
                    </p>
                    <li style="list-style: none;">
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star"></span>
                         <span class="glyphicon glyphicon-star-empty"></span>
                         <span class="glyphicon glyphicon-star-empty"></span>
                     </li>
                    <a href="/main/page/auction">Ver +</a>
                </figcaption>
            </figure>
        </div>
    </div>
</div>
</section>