<header-component></header-component>
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="titulo-principal"><span>F&A</span></h1>
            </div>
            <div class="col-xs-12">
                <div class="fa-perg" id="faq1" onclick="showfaq(id);">
                    <p>Does WeTek Play support Clock Work MOD or TWRP  recovery?</p>
                    <div class="fa-res">Yes, WeTek Play support both of those recoveries. You can download them directly from our forum located at smart.com</div>
                    <hr>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="fa-perg" id="faq2" onclick="showfaq(id);">
                    <p>Does WeTek Play support Clock Work MOD or TWRP  recovery?</p>
                    <div class="fa-res">Yes, WeTek Play support both of those recoveries. You can download them directly from our forum located at smart.com</div>
                    <hr>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="fa-perg" id="faq3" onclick="showfaq(id);">
                    <p>Does WeTek Play support Clock Work MOD or TWRP  recovery?</p>
                    <div class="fa-res">Yes, WeTek Play support both of those recoveries. You can download them directly from our forum located at smart.com</div>
                    <hr>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="fa-perg" id="faq4" onclick="showfaq(id);">
                    <p>Does WeTek Play support Clock Work MOD or TWRP  recovery?</p>
                    <div class="fa-res">Yes, WeTek Play support both of those recoveries. You can download them directly from our forum located at smart.com</div>
                    <hr>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="fa-perg" id="faq5" onclick="showfaq(id);">
                    <p>Does WeTek Play support Clock Work MOD or TWRP  recovery?</p>
                    <div class="fa-res">Yes, WeTek Play support both of those recoveries. You can download them directly from our forum located at smart.com</div>
                    <hr>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="fa-perg" id="faq5" onclick="showfaq(id);">
                    <p>Does WeTek Play support Clock Work MOD or TWRP  recovery?</p>
                    <div class="fa-res">Yes, WeTek Play support both of those recoveries. You can download them directly from our forum located at smart.com</div>
                    <hr>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="fa-perg" id="faq5" onclick="showfaq(id);">
                    <p>Does WeTek Play support Clock Work MOD or TWRP  recovery?</p>
                    <div class="fa-res">Yes, WeTek Play support both of those recoveries. You can download them directly from our forum located at smart.com</div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</section>