<header-component></header-component>
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="titulo-principal"><span>F&A</span></h1>
            </div>
            <div class="col-xs-12">
                <div class="fa-perg" id="faq1" onclick="showfaq(id);">
                    <p>Smart Service é gratuito para particulares?</p>
                    <div class="fa-res">Sim, a nossa plataforma é totalmente gratuita para aqueles que procuram o melhor serviço.</div>
                    <hr>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="fa-perg" id="faq2" onclick="showfaq(id);">
                    <p>É necessário registar-me na plataforma?</p>
                    <div class="fa-res">Sim, qualquer utilizador deste plataforma, sendo empresa ou particular, terá de se registar.</div>
                    <hr>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="fa-perg" id="faq3" onclick="showfaq(id);">
                    <p>Sou uma pequena empresa, posso registar-me?</p>
                    <div class="fa-res">Sim, Smart Service dispõe de vários packs ajustáveis a diferentes empresas.</div>
                    <hr>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="fa-perg" id="faq4" onclick="showfaq(id);">
                    <p>Smart Service é gratuito para empresas?</p>
                    <div class="fa-res">Não, cada empresa têm de escolher o pack que melhor se ajusta à sua empresa e pagar anualmente.</div>
                    <hr>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="fa-perg" id="faq5" onclick="showfaq(id);">
                    <p>E se o ramo de atividade da minha empresa não constar no website?</p>
                    <div class="fa-res">Após o registo no website, a nossa equipa irá desenvolver o trabalho necessário para a sua empresa ter a melhor experiência na nossa plataforma.</div>
                    <hr>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="fa-perg" id="faq6" onclick="showfaq(id);">
                    <p>As empresas têm faturação limitada?</p>
                    <div class="fa-res">Depende do pack que a empresa escolhe.</div>
                    <hr>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="fa-perg" id="faq7" onclick="showfaq(id);">
                    <p>Quantos packs estão disponíveis para as empresas?</p>
                    <div class="fa-res">Atualmente estão disponíveis três packs no nosso website.</div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</section>