<header-component></header-component>
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="titulo-principal"><span>Registar</span></h1>
                <div class="row">
                    <div class="col-xs-12 col-sm-4" style="text-align: center;padding:0;padding-bottom: 25px;">
                        <img style="width: 80%;margin: auto;" src="../template/img/1.jpg" alt="" >
                    </div>
                    <div class="col-xs-12 col-sm-4" style="text-align: center;padding:0;padding-bottom: 25px;">
                        <img style="width: 80%;margin: auto;" src="../template/img/2.jpg" alt="" >
                    </div>
                    <div class="col-xs-12 col-sm-4" style="text-align: center;padding:0;padding-bottom: 25px;">
                        <img style="width: 80%;margin: auto;" src="../template/img/3.jpg" alt="" >
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>