<header-component></header-component>
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h1 class="titulo-principal"><span>Como funciona?</span></h1>
                <p class="texto-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-xs-12 col-sm-6 center">
                <img class="indeximg1" src="../template/img/indeximg1.png" alt="Animação">
            </div>
            <div class="col-xs-12" style="margin-top: -50px;">
                <img class="indeximg2" src="../template/img/indeximg2.png" alt="Animação">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 center sig-index sig-pessoa">
                <h2 class="titulo-segundario">Pessoas</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a href="/registar"><i class="fa fa-sign-in" aria-hidden="true"></i> Registar</a>
            </div>
            <div class="col-xs-12 col-sm-6 center sig-index sig-empresa">
                <h2 class="titulo-segundario">Empresas</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a href="/registar"><i class="fa fa-sign-in" aria-hidden="true"></i> Registar</a>
            </div>
        </div>
    </div>
</section>
<section class="footer1">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 center">
                <p class="f1-titulo">Geral</p>
                <p class="f1-texto">Geral@smartservice.pt</p>
            </div>
            <div class="col-xs-12 col-sm-6 center">
                <p class="f1-titulo">Suport</p>
                <p class="f1-texto">Suport@smartservice.pt</p>
            </div>
        </div>
    </div>
</section>