<header-component></header-component>
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h1 class="titulo-principal"><span>Como funciona?</span></h1>
                <p class="texto-normal">Esta plataforma digital reúne um conjunto de empresas que estão disponíveis a todos os utilizadores do espaço web. Através da mesma qualquer utilizador pode aceder a um conjunto de empresas que estão agrupadas em diferentes categorias. Assim poderão fazer um contacto com todas as empresas, solicitando um orçamento para a resolução da situação que necessitem ver resolvida.</p>
            </div>
            <div class="col-xs-12 col-sm-6 center">
                <img class="indeximg1" src="../template/img/indeximg1.png" alt="Animação">
            </div>
            <div class="col-xs-12" style="margin-top: -50px;">
                <img class="indeximg2" src="../template/img/indeximag2new.png" alt="Animação">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 center sig-index sig-pessoa">
                <h2 class="titulo-segundario">Pessoas</h2>
                <p>Registo para particulares. Este registo é grátis para pessoas que queiram somente inserir serviços.</p>
                <a href="/registar"><i class="fa fa-sign-in" aria-hidden="true"></i> Registar</a>
            </div>
            <div class="col-xs-12 col-sm-6 center sig-index sig-empresa">
                <h2 class="titulo-segundario">Empresas</h2>
                <p>Registo para empresas. O registo para empresas carece de uma anualidade à medida do seu negócio.</p>
                <a href="/registar"><i class="fa fa-sign-in" aria-hidden="true"></i> Registar</a>
            </div>
        </div>
    </div>
</section>
<section class="footer1">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 center">
                <p class="f1-titulo">Geral</p>
                <p class="f1-texto">Geral@smartservice.pt</p>
            </div>
            <div class="col-xs-12 col-sm-6 center">
                <p class="f1-titulo">Suport</p>
                <p class="f1-texto">Suport@smartservice.pt</p>
            </div>
        </div>
    </div>
</section>