<header-component></header-component>
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="titulo-principal"><span>Sobre nós</span></h1>
                <p class="texto-normal"><br><br>Somos profissionais da área do comércio e da programação informática que procuramos rentabilizar o processo de pesquisa a todos os utilizadores que procurem a resolução de problemas na área da prestação de serviços, de uma forma rápida e cómoda.<br><br>Desta forma, criamos uma plataforma digital capaz de reunir empresas que aderiram ao nosso projeto com o objetivo de satisfazer as necessidades dos seus potenciais clientes. 
                </p>
            </div>
        </div>
    </div>
</section>